*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, rgb(0, 255, 242), rgb(0, 42, 255));
}

.color-picker-container{
  height: 550px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 5px 5px 20px, rgba(0, 0, 0, 0.5);
}

.color-display{
  height: 300px;
  width: 300px;
  border-radius: 2rem;
  border: 2px solid black;
}

input{
  height: 40px;
  width: 100px;
  border-radius: 5px;
  padding: 3px 5px;
}